@import '~components/lib/style/theme.less';

.nav_color {
    background: transparent;
}

.component {
    &_list {
        min-height: 40 * @unit;
    }

    &_label {
        display: flex;
        align-items: flex-start;
        margin-right: 6 * @unit;
    }
}

.icons_items {
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
        box-shadow: 0 0 0.5rem #ccc;
    }
}

.image {
    display: inline-block;
    width: 182 * @unit;
    height: 182 * @unit;
    margin: 10 * @unit;
    overflow: hidden;
    background: #d9d9d9;
    cursor: pointer;

    &_item {
        width: 100%;
        height: auto;
    }
}

.uploadViewClassName {
    height: 120 * @unit;
    overflow: auto;
}

.scroll_view {
    height: calc(100% - @nav_bar_height);
}